# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
.venv/
env.bak/
venv.bak/

# Database
data/*.db
data/*.sqlite3

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints

# IDE / OS
.vscode/
.idea/
.DS_Store
